/* petit écran */
@media (max-width: 1105px) {
	main nav a {
		margin-right: 80px;
		float: right;
		font-size: 1.2em;
	}

	main img {
		width: 40vw;
		padding: 25px;
		margin: 0 30vw;
		display: block;
	}

	main h2 {
		font-size: 3em;
		margin: 0 auto;
		width: fit-content;
	}

	main p {
		margin: 0 auto;
		font-size: 1.3em;
		width: 87vw;
		text-align: justify;
	}

	main ul {
		padding-left: 75px;
	}

	main ul li {
		padding-top: 10px;
		list-style: none;
	}

	.tech {
		padding-left: 75px;
		position: relative;
	}

	.tech div {
		font-size: 2em;
		padding: 30px 0 15px;
	}

	.tech input {
		width: 50px;
	}

	.tech label, .tech input {
		font-size: 1.2em;
	}

	.tech .submit {
		float: right;
		margin-right: 80px;
		margin-top: -30px;
		font-size: 1.2em;
		position: static;
	}

	.tech button {
		position: absolute;
		top: 50px;
		right: 80px;
		font-size: 1.2em;
		width: 200px;
	}
}

/* grand écran */
@media (min-width: 1105px)
{
	main nav a {
	float: right;
	margin-right: 30px;
	font-size: 1.2em;
}

	article {
		position: relative;
	}

	main img {
		max-width: 40vw;
		padding: 25px;
	}

	main h2, main ul, main p {
		position: absolute;
		float: right;
		left: 45vw;
	}

	main h2 {
		top: 50px;
		margin-top: 0;
		font-size: 3em;
	}

	main ul {
		top: 130px;
		list-style: none;
	}

	main p {
		top: 300px;
		max-width: 50vw;
		font-size: 1.2em;
	}

	.tech {
		padding-left: 30px;
		position: relative;
	}

	.tech div {
		font-size: 2em;
		padding-bottom: 15px;
	}

	.tech button {
		position: absolute;
		top: 20px;
		right: 50px;
		font-size: 1.2em;
		width: 200px;
	}

	.tech input {
		width: 50px;
	}

	.tech label, .tech input {
		font-size: 1.2em;
	}

	.tech .submit {
		position: static;
		float: right;
		margin-right: 50px;
		margin-top: -30px;
		font-size: 1.2em;
	}

	main article {
		margin-top: 20px;
	}

	main nav a:hover {
		text-decoration: underline;
	}
}

main a {
	text-decoration: none;
	color: black;
}

main a:visited {
	text-decoration: none;
	color: black;
}

main nav a::before {
	content: "◄";
	padding-right: 5px;
}

main nav a::before:hover {
	text-decoration: none;
}


