/* petit écran */
@media (max-width: 1105px) {
	main img {
		max-width: 40vw;
		padding: 25px;
	}

	main h2 {
		text-decoration: underline;
		padding-left: 50px;
		margin-top: 0;
	}

	main p {
		padding-left: 25px;
	}

	main ul {
		padding-left: 25px;
		list-style: none;
	}

	main ul li {
		padding-top: 5px;
	}
}

/* grand écran */
@media (min-width: 1105px)
{
	article {
		position: relative;
	}

	main img {
		max-width: 40vw;
		padding: 25px;
	}

	main h2, main ul, main p {
		position: absolute;
		float: right;
		left: 45vw;
	}

	main h2 {
		text-decoration: underline;
		top: 235px;
		margin-top: 0;
		font-size: 2em;
	}

	main ul {
		top: 300px;
		list-style: none;
	}

	main p {
		top: 400px;
		max-width: 40vw;
	}

	.tech {
		padding-left: 30px;
	}

	.tech div {
		font-size: 1.7em;
		padding-bottom: 15px;
	}
}


