/* petit écran */
@media (max-width: 1080px) {
	main img {
		max-width: 40vw;
		padding: 25px;
		margin: 0 30vw;
	}

	main h3 {
		text-decoration: underline;
		margin: 0 auto;
		width: fit-content;
	}

	main p {
		margin: 0 auto;
		max-width: 90vw;
		width: fit-content;
		padding-top: 25px;
		text-align: justify; 
	}

	.specs, main ul {
		padding-left: 25px;
	}

	.specs {
		margin-bottom: 35px;
	}

	main ul {
		list-style: none;
	}

	main ul li {
		padding-top: 5px;
		float: right;
	}

	main ul li::after {
		content: '';
		display: none;
		clearfix: both;
	}

	main h2 {
		margin: 0 auto;
		width: fit-content;
		font-size: 2em;
	}
}

/* grand écran */
@media (min-width: 1080px)
{
	main h2 {
		padding-left: 35px;
		font-size: 2em;
	}

	article {
		position: relative;
	}

	main img {
		max-width: 35vw;
		max-height: ;
		padding: 25px;
	}

	main h3, .specs, main ul, main p {
		position: absolute;
		float: right;
		left: 45vw;
	}

	main h3 {
		text-decoration: underline;
		top: 35px;
		margin-top: 0;
		font-size: 2em;
	}

	main ul {
		top: 250px;
		list-style: none;
	}

	main p {
		top: 75px;
		max-width: 40vw;
	}

	.specs {
		top: 375px;
	}

	.total h3 {
		font-size: 2em;
		margin: 0 auto 0 110px;
		width: fit-content;
		position: static;
		float: none;
		text-decoration: none;
	}

	.total div {
		margin-left: 145px;
		font-size: 2.4em;
	}

	.total button {
		float: right;
		margin: -53px 70px 0 0;
	}
}


