@font-face
{
	font-family: "Enriqueta Bold";
	font-weight: normal;
	font-style: normal;
	src:	url("../font/Enriqueta-Bold.woff2") format("woff2"),
			url("../font/Enriqueta-Bold.woff") format("woff"),
			url("../font/Enriqueta-Bold.ttf") format("truetype"),
			url("../font/Enriqueta-Bold.otf") format("opentype");
}

body
{
	font-family: "Enriqueta Bold", "sans-serif";
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-gap: 50px;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	background-image: radial-gradient(circle, #f1f1df, #f3f3d8, #f5f4d1, #f7f6c9, #f9f7c2);
	overflow-x: hidden;
}

ul
{
	padding: 0;
}

header
{
	grid-area: header;
	background-image: linear-gradient(to right, #121c1d, #151f21, #172225, #1b2428, #1e272c);
	margin: 0;
	display: grid;
	grid-auto-columns: 2fr 7fr;
	grid-auto-flow: column;
	text-align: center;
	color: #FFFFFF;
}

header h1, header ul, header ul li, footer ul li
{
	display: inline-block;
}

header nav ul
{
	font-size: 1.3em;
}

header nav ul li::after
{
	content: " | ";
}

header a
{
	text-decoration: none;
	color: #FFFFFF;
}

header #logo
{
	width: 100px;
	height: auto;
}

.header_list img
{
	width: 35px;
	height: auto;
}

footer
{
	grid-area: footer;
	background-image: linear-gradient(to bottom, #1e272c, #1b2428, #172225, #151f21, #121c1d);
	margin: 0;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	text-align: center;
	color: #FFFFFF;
}

footer ul:not(#footer_contacts) li
{
	display: block;
}

footer a, main a
{
	text-decoration: none;
	color: #F6C65B;
}

footer a:visited, main a:visited
{
	text-decoration: none;
	color: #BD893E;
}

#footer_contacts img
{
	width: 50px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}

main
{
	grid-area: main;
	margin: 0;
	padding: 0;
	width: 100vw;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: row;
	grid-row-gap: 20px;
	text-align: center;
	color: #030F17;
}

#msg_jour, #promo_jour
{
	width: 70vw;
	height: auto;
	margin: auto;
	overflow: hidden;
	background-image: linear-gradient(to right bottom, #030f17, #061319, #0a161a, #0e191c, #121c1d);
	transform: skew(20deg);
}

#msg_jour > *, #promo_jour > *
{
	transform: skew(-20deg);
	color: #FFFFFF;
}

#accueil_article
{
	width: 100vw;
	height: auto;
	margin: auto;
	overflow: hidden;
	background-image: linear-gradient(to right bottom, #030f17, #061319, #0a161a, #0e191c, #121c1d);
	color: #FFFFFF;
}

#accueil_article article
{
	width: 50vw;
	height: auto;
	margin: auto;
	background-image: linear-gradient(to top, #f3ec75, #e8d264, #dbb956, #cda149, #bd893e);
	color: #030F17;
}

#accueil_article article:nth-of-type(2n+1)
{
	transform: skew(20deg);
	margin-left: -20px;
	padding-left: 20px;
}

#accueil_article article:nth-of-type(2n)
{
	transform: skew(-20deg);
	margin-right: -20px;
	padding-right: 20px;
}

#accueil_article article:nth-of-type(2n+1) *
{
	transform: skew(-20deg);
}

#accueil_article article:nth-of-type(2n) *
{
	transform: skew(20deg);
}

.link_detail::after
{
	content: " ⬈";
}

@media all and (max-width: 1105px)
{
	header #logo
	{
		width: 50px;
	}
	
	.header_list img
	{
		width: 25px;
	}

	footer
	{
		grid-auto-flow: row;
	}
	
	#footer_contacts
	{
		grid-template-columns: 1fr;
	}

	#footer_contacts img
	{
		width: 40%;
	}
}