body
{
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
		"header"
		"section"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	background-image: radial-gradient(circle, #f1f1df, #f3f3d8, #f5f4d1, #f7f6c9, #f9f7c2);
}

header
{
	grid-area: header;
	background-image: linear-gradient(to right, #121c1d, #151f21, #172225, #1b2428, #1e272c);
	margin: 0;
	display: grid;
	grid-auto-columns: 2fr 7fr;
	grid-auto-flow: column;
	text-align: center;
	color: #FFFFFF;
}

header h1, header ul, header ul li, footer ul li
{
	display: inline-block;
}

header a
{
	text-decoration: none;
	color: #FFFFFF;
}

header #logo
{
	width: 100px;
	height: auto;
}

.header_list img
{
	width: 50px;
	height: auto;
}

footer
{
	grid-area: footer;
	background-image: linear-gradient(to bottom, #1e272c, #1b2428, #172225, #151f21, #121c1d);
	margin: 0;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	text-align: center;
	color: #FFFFFF;
}

footer a
{
	text-decoration: none;
	color: #F6C65B;
}

footer a:visited
{
	text-decoration: none;
	color: #BD893E;
}


#footer_contacts img
{
	width: 50px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}

main section
{
	grid-area: section;
}

@media all and (max-width: 1105px)
{
	header #logo
	{
		width: 50px;
	}
	
	.header_list img
	{
		width: 25px;
	}

	footer
	{
		grid-auto-flow: row;
	}
	
	#footer_contacts
	{
		grid-template-columns: 1fr;
	}

	#footer_contacts img
	{
		width: 40%;
	}
}